/********* Сброс стилей, общие настройки ********/
body {
  overflow-x: hidden;
}
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}
/********* Меню *********/
.menu {
  animation: slideLeft 2s ease  1;
  list-style: none;
  width: 100%;
  height: 28px;
  background-color: black;
  color: white;
  padding: 7px 0 0 22.2%;
  font-family: "OpenSansSemiBold";
  font-size: 19px;
}
.menu li {
  float: left;
}
.menu a {
  margin: 0 34px 0 25px;
  text-decoration: none;
  color: white;
}
.menu a:hover {
  color: grey;
}
@media screen and (max-width: 1024px) {
  .menu {
    padding-left: 18.2%;
  }
}
@media screen and (max-width: 840px) {
  .menu a {
    margin: 0 15px 0 18px;
  }
}
@media screen and (max-width: 640px) {
  .menu {
    display: none;
  }
}
.menu_mob {
  display: none;
  position: relative;
}
@media screen and (max-width: 640px) {
  .menu_mob {
    display: block;
    position: absolute;
    top: 17px;
    left: 66%;
  }
}
@media screen and (max-width: 320px) {
  .menu_mob {
    left: 64%;
  }
}
#menu_mob {
  width: 660px;
  height: 373px;
  position: absolute;
  top: -40px;
  left: -570px;
  background-color: black;
  z-index: 1;
}
@media screen and (max-width: 320px) {
  #menu_mob {
    height: 320px;
  }
}
.menu_text_mob {
  color: white;
  position: absolute;
  top: 90px;
  right: 72vw;
  font-family: "OpenSansSemiBold";
  font-size: 19px;
  list-style: none;
}
.menu_text_mob li {
  margin: 17px 0 0 0;
}

.menu_text_mob a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 320px) {
  .menu_text_mob {
    top: 60px;
    right: 57vw;
  }
}
.menu_close_mob {
  position: absolute;
  top: 40px;
  right: 6%;
}
@media screen and (max-width: 320px) {
  .menu_close_mob {
    top: 40px;
    right: 6.5%;
  }
}
/********* Заголовок *********/
.header {
  animation: a_opacity 2s ease-in-out 1;
  width: 100%;
  height: 48px;
  background-image: url(http://i92.fastpic.ru/big/2017/0801/9c/71d313fb19014f12d74e4fde2b4d699c.png);
  font-family: "OpenSansLight";
  font-size: 21px;
  letter-spacing: 1px;
  padding: 21px 0 0 24.2%;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .header {
    padding-left: 20.9%;
  }
}
@media screen and (max-width: 640px) {
  .header {
    animation: a_opacity 0s;
    padding-left: 31.3%;
  }
}
.header_logo {
  animation: slideDown 2s ease  1;
  width: 100px;
  height: 118px;
  background-color: #25ce8c;
  position: absolute;
  top: -35px;
  left: 10%;
}
.header_logo img {
  padding-top: 5px;
  width: 98px;
  height: 116px;
}
@media screen and (max-width: 1024px) {
  .header_logo {
    left: 4.7%;
  }
}
@media screen and (max-width: 640px) {
  .header_logo {
    animation: slideDown 0s;
    left: 5%;
    top: 0;
  }
}
@media screen and (max-width: 320px) {
  .header_logo {
    left: 9px ;
    top: 0;
    padding-top: 5px;
    width: 60px;
    height: 63px;
  }
  .header_logo img {
    padding: 0 0 4px 3px;
    width: 55px;
    height: 65px;
  }
}
@media screen and (max-width: 550px) {
  .header_text {
    display: none;
  }
}
/********* Контент *********/
.main_content {
  width: 100%;
  text-align: center;
  margin: 100px 0 0 5.2%;
}
@media screen and (max-width: 1024px) {
  .main_content {
    margin: 63px 0 0 3%;
  }
}
@media screen and (max-width: 640px) {
  .main_content {
    margin: 4px 0 0 1%;
  }
}
@media screen and (max-width: 320px) {
  .main_content {
    margin: 33px 0 0 1%;
  }
}
/********* Главное изображение *********/
.main_image {
  animation: slideDown 2s ease-in-out 1;
  display: inline-block;
  width: 250px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .main_image {
    width: 35%;
  }
  .main_image img {
    margin-left: 10%;
  }
}
@media screen and (max-width: 640px) {
  .main_image {
    animation: slideDown 0s;
    width: 70%;
    margin: 100px 0 0 1%;
  }
  .main_image img {
    margin-left: 4%;
  }
}
@media screen and (max-width: 320px) {
  .main_image {
    margin: 0px 0 0 1%;
  }
  .main_image img {
    width: 92%;
  }
}
.main_image_part1 {
  position: absolute;
  top: 21%;
  left: 0;
  opacity: 0;
  width: 100%;
}
.main_image_part1:hover {
  opacity: 1;
}
@media screen and (max-width: 640px) {
  .main_image_part1 {
    display: none;
  }
}
.main_image_part2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
}
.main_image_part2:hover {
  opacity: 1;
}
@media screen and (max-width: 640px) {
  .main_image_part2 {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .main_image_part2 {
    display: none;
  }
}
/********* Текст (характеристики) *********/
.main_text {
  animation: a_opacity 2s ease-in-out 1;
  display: inline-block;
  width: 480px;
  vertical-align: top;
  font-family: "OpenSansLight";
  font-size: 22px;
  letter-spacing: 1px;
  margin: 35px 0 0 14%;
}
@media screen and (max-width: 1024px) {
  .main_text {
    margin-left: 9%;
  }
}
@media screen and (max-width: 640px) {
  .main_text {
    margin: 113px 0 0 12%;
    width: 470px;
    animation: a_opacity 0s;
  }
}
@media screen and (max-width: 500px) {
  .main_text {
    display: none;
  }
}
.main_text_caption {
  text-align: left;
  width: 100%;
  line-height: 42px;
}
@media screen and (max-width: 320px) {
  .main_text_caption {
    margin-top: 6px;
    line-height: 60px;
  }
}
.main_text_characteristic {
  text-align: left;
  line-height: 22px;
  margin-top: 12px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .main_text_characteristic {
    margin-top: 30px;
  }
  .main_text_characteristic div {
    margin-top: 22px;
  }
}
.main_text_characteristic_key {
  display: inline-block;
  margin-right: 6%;
}
.main_text_320 {
  display: none;
}
@media screen and (max-width: 500px) {
  .main_text_320 {
    display: block;
    font-family: "OpenSansLight";
    font-size: 22px;
    letter-spacing: 1px;
    margin: 0 0 44px 10.5%;
  }
}
/********* Футер *********/
.footer {
  font-family: "OpenSansLight";
  font-size: 13px;
  height: 35px;
  padding: 9px 0  8px 44%;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 10px 0 0 46%;
  }
}
@media screen and (max-width: 640px) {
  .footer {
    padding-left: 38%;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    display: none;
  }
}
.footer_line img {
  width: 100%;
  margin-top: 155px;
}
@media screen and (max-width: 1024px) {
  .footer_line img {
    margin-top: 90px;
  }
}
@media screen and (max-width: 640px) {
  .footer_line img {
    margin-top: 110px;
  }
}
@media screen and (max-width: 320px) {
  .footer_line img {
    display: none;
  }
}
/******Анимация*******/
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  65% {
    -webkit-transform: translateY(-4%);
  }
  80% {
    -webkit-transform: translateY(4%);
  }
  95% {
    -webkit-transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(150%);
  }
  50% {
    transform: translateX(-8%);
  }
  65% {
    transform: translateX(4%);
  }
  80% {
    transform: translateX(-4%);
  }
  95% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
  }
  50% {
    -webkit-transform: translateX(-8%);
  }
  65% {
    -webkit-transform: translateX(4%);
  }
  80% {
    -webkit-transform: translateX(-4%);
  }
  95% {
    -webkit-transform: translateX(2%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
@keyframes a_opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
